.banner {
    &.banner-video {
        video {
            width: 100%;
            height: 100vh;
            background-color: #000;
            object-fit: cover;
        }
    }
}

.about {
    position: relative;
    padding: 70px 0;
    &-desc {
        align-self: center;
        h3 {
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 20px;
            font-size: 20px;
            margin-top: 0;
        }
        &-text {
            color: var(--primary-color);
            line-height: 25px;
            padding: 0px 0px 20px 0px;
            text-align: justify;
        }
        &-btn {
            a {
                display: inline-block;
                padding: 7px 10px;
                border: 1px solid var(--primary-color);
                color: var(--second-color);
                font-weight: 600;
                transition: all .3s ease;
                &:hover {
                    background-color: var(--second-color);
                    color: #fff;
                    transition: all .3s ease;
                    border-color: var(--second-color);
                }
            }
        }
        @media(max-width:767.98px) {
            margin-bottom: 30px;
        }
    }
    &-image {
        &-slide {
            .item {
                img {
                    transition: all .5s linear;
                    transform: scale(.8);
                }
                &.slick-current {
                    img {
                        transform: scale(1);
                        transition: all .5s linear;
                    }
                }
            }
        }
    }
}

.product {
    position: relative;
    margin-bottom: 30px;
    &-slide {
        .item {
            &-inner {
                padding: 0 15px;
            }
            &-image {
                padding: 4px;
                border: 1px solid #ccc;
                a {
                    position: relative;
                    overflow: hidden;
                    display: block;
                    &::before {
                        position: absolute;
                        content: '';
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        z-index: 1;
                        transition: all 0.5s ease-in-out;
                    }
                    &::after {
                        position: absolute;
                        content: '';
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        transition: all 0.5s ease-in-out;
                    }
                    &:hover {
                        &::before {
                            right: 50%;
                            left: 50%;
                            width: 0;
                            background: rgba(255, 255, 255, 0.3)
                        }
                        &::after {
                            height: 0;
                            top: 50%;
                            bottom: 50%;
                            background: rgba(255, 255, 255, 0.3);
                        }
                    }
                }
            }
            &-desc {
                text-align: center;
                padding: 10px;
                h3 {
                    font-size: 15px;
                    margin-top: 10px;
                    font-weight: bold;
                    text-transform: uppercase;
                    a {
                        color: var(--primary-color);
                    }
                }
            }
        }
        .slick-arrow {
            z-index: 1;
            &::before {
                color: var(--primary-color);
            }
        }
    }
    &-list {
        .item {
            position: relative;
            border-radius: 4px;
            margin-bottom: 30px;
            &-image {
                a {
                    position: relative;
                    overflow: hidden;
                    display: block;
                    &::before {
                        position: absolute;
                        top: 0;
                        left: -75%;
                        z-index: 2;
                        display: block;
                        content: '';
                        width: 50%;
                        height: 100%;
                        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
                        transform: skewX(-25deg);
                    }
                    &:hover {
                        &::before {
                            animation: shine .75s;
                        }
                    }
                }
                img {
                    border-radius: 4px;
                }
            }
            &-desc {
                transition: all 0.5s;
                text-align: center;
                position: absolute;
                width: 100%;
                padding: 10px;
                // opacity: 0;
                bottom: 0;
                left: 0;
                background: rgba(0, 0, 0, 0.7);
                h3 {
                    text-transform: uppercase;
                    font-size: 16px;
                    margin: 0;
                    a {
                        color: #fff;
                    }
                }
            }
        }
        &.type-2 {
            .item {
                box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
                border: 1px solid #e6e6e6;
                transition: all .5s ease;
                &-image {
                    img {
                        border-radius: 0;
                    }
                }
                &-desc {
                    position: relative;
                    background: #fff;
                    h3 {
                        a {
                            color: var(--primary-color);
                            font-weight: 700;
                            &:hover {
                                color: var(--second-color);
                            }
                        }
                    }
                }
            }
        }
    }
    &-details {
        &-info {
            margin-bottom: 30px;
            .img {
                img {
                    width: 100%;
                }
            }
            .info {
                &>div {
                    border-bottom: 1px solid #e7e7e7;
                    padding-bottom: 5px;
                    margin-bottom: 10px;
                    float: left;
                    width: 100%;
                    label {
                        font-weight: 700;
                    }
                }
            }
        }
        &-price {
            color: var(--second-color);
        }
        &-content {
            margin-bottom: 30px;
            &-desc {
                position: relative;
                border: 1px solid #e7e7e7;
                border-top: 0;
            }
        }
        .tab-content {
            padding: 15px;
        }
    }
}

.project {
    position: relative;
    padding: 50px 0;
    &-slide {
        .item {
            &-inner {
                padding: 0 15px;
            }
            &-image {
                display: block;
                overflow: hidden;
                a {
                    position: relative;
                    overflow: hidden;
                    display: block;
                    transition: all .4s linear;
                    &:hover {
                        transform: scale(1.1);
                        transition: all .4s linear;
                    }
                }
            }
            &-desc {
                text-align: center;
                padding: 10px;
                h3 {
                    font-size: 15px;
                    margin-top: 10px;
                    font-weight: bold;
                    text-transform: uppercase;
                    a {
                        color: var(--primary-color);
                    }
                }
            }
        }
        .slick-arrow {
            z-index: 1;
            &::before {
                color: var(--primary-color);
                @media(max-width: 1200px) {
                    color: #fff;
                }
            }
        }
    }
    &-list {
        .item {
            position: relative;
            border-radius: 4px;
            margin-bottom: 30px;
            &-image {
                a {
                    position: relative;
                    overflow: hidden;
                    display: block;
                    &::before {
                        position: absolute;
                        top: 0;
                        left: -75%;
                        z-index: 2;
                        display: block;
                        content: '';
                        width: 50%;
                        height: 100%;
                        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
                        transform: skewX(-25deg);
                    }
                    &:hover {
                        &::before {
                            animation: shine .75s;
                        }
                    }
                }
                img {
                    border-radius: 4px;
                }
            }
            &-desc {
                transition: all 0.5s;
                text-align: center;
                position: absolute;
                width: 100%;
                padding: 10px;
                // opacity: 0;
                bottom: 0;
                left: 0;
                background: rgba(0, 0, 0, 0.7);
                h3 {
                    text-transform: uppercase;
                    font-size: 16px;
                    margin: 0;
                    a {
                        color: #fff;
                    }
                }
            }
        }
    }
}

.commit {
    background: url('../images/footer-bg-black.png') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    padding: 50px 0;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .9);
    }
    &-item {
        text-align: center;
        margin-bottom: 10px;
        .info {
            padding: 15px 0;
            color: #fff;
            p {
                margin: 0;
            }
        }
    }
}

.news {
    background: url('../images/parallax_serv.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    padding: 50px 0;
    .section-title {
        h3 {
            color: #fff;
        }
    }
    &-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
        @media(max-width: 767.87px) {
            display: block;
        }
    }
    &-item {
        position: relative;
        overflow: hidden;
        &__image {
            a {
                display: block;
                img {
                    width: 100%;
                }
            }
        }
        &__desc {
            h3 {
                font-size: 22px;
                font-weight: bold;
                margin-top: 15px;
                a {
                    color: var(--second-color);
                }
            }
            .quote {
                color: #fff;
            }
        }
        @media(min-width:992px) {
            &:nth-child(1) {
                grid-row: 1 / span 2;
            }
            &:not(:first-child) {
                .news-item__image {
                    float: left;
                    width: 40%;
                }
                .news-item__desc {
                    float: left;
                    width: 60%;
                    padding-left: 10px;
                    h3 {
                        margin-top: 0;
                        font-size: 18px;
                    }
                }
            }
        }
        @media(max-width:767.98px) {
            margin-bottom: 30px;
        }
    }
}

.video {
    position: relative;
    padding: 50px 0;
    &-list {
        .slick-arrow {
            z-index: 1;
            &::before {
                color: var(--primary-color);
                @media(max-width: 1200px) {
                    color: #fff;
                }
            }
        }
    }
    &-item {
        padding: 0 10px;
        &__image {
            position: relative;
            a {
                display: block;
                img {
                    width: 100%;
                    transition: all .3s ease;
                }
            }
            i {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: #fff;
                font-size: 20px;
                cursor: pointer;
            }
        }
        &__desc {
            h3 {
                font-size: 18px;
                font-weight: 600;
                color: var(--primary-color);
                margin-top: 5px;
            }
        }
    }
}

.newsletter {
    position: relative;
    background-color: var(--primary-color);
    padding: 40px 0;
    font-size: 22px;
    &-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media(max-width: 991px) {
            flex-direction: column;
        }
    }
    &-text {
        display: inline-block;
        padding-top: 10px;
        padding-right: 30px;
        p {
            margin-bottom: 0;
            color: #fff;
        }
        @media(max-width:991.98px) {
            display: block;
            text-align: center;
            padding: 10px;
            font-size: 16px;
        }
    }
    &-btn {
        a {
            color: #fff;
            padding: 8px 15px;
            text-align: center;
            background-image: linear-gradient(rgb(255, 193, 5), rgba(255, 135, 0, 0.99));
            display: inline-block;
            line-height: 37px;
            &:hover {
                background: #ff7500;
            }
        }
    }
}

.contact {
    position: relative;
    padding: 70px 0;
    &-info {
        color: #000;
        padding-bottom: 20px;
        &-title {
            margin-bottom: 15px;
            padding: 8px;
            background: rgb(241, 241, 241);
            border: 1px solid rgb(204, 204, 204);
            width: 100%;
            text-align: center;
            h2 {
                font-family: tahoma, geneva, sans-serif;
                font-size: 22px;
                color: var(--second-color);
            }
            a {
                color: var(--primary-color);
                font-weight: 600;
                &:hover {
                    color: var(--second-color);
                }
            }
        }
    }
    &-form {
        margin-bottom: 50px;
        .title-contact {
            text-transform: uppercase;
            color: var(--second-color);
            font-weight: bold;
            font-size: 22px;
            text-align: center;
            margin-bottom: 20px;
            margin-top: 20px;
        }
        textarea {
            min-width: 100%;
            max-width: 100%;
            height: 132px;
            margin-bottom: 15px;
        }
    }
    .item-captcha {
        @media(max-width: 991.98px) {
            .col-sm-8, .col-sm-4 {
                margin-bottom: 10px;
            }
        }
    }
}

.col-left {
    @media(max-width: 991.98px) {
        display: none;
    }
}

.sidebar {
    &-left {
        &-wrap {
            margin-bottom: 15px;
        }
        .widget {
            padding: 10px;
            background: #fff;
            border: 1px solid #e7e7e7;
            border-top: 0;
            width: 100%;
            .sidebar-news {
                float: left;
                width: 100%;
                .item {
                    float: left;
                    width: 100%;
                    margin-bottom: 5px;
                    padding-bottom: 5px;
                    border-bottom: 1px dashed #a7a7a7;
                    .img {
                        float: left;
                        width: 30%;
                        display: table;
                        padding-top: 5px;
                        a {
                            display: block;
                        }
                        img {
                            width: 100%;
                        }
                    }
                    .info {
                        font-weight: 500;
                        padding-top: 5px;
                        float: left;
                        padding-left: 10px;
                        width: 70%;
                        a {
                            font-weight: 600;
                            color: var(--primary-color);
                            &:hover {
                                color: var(--second-color);
                            }
                        }
                    }
                    &:last-child {
                        border-bottom: 0;
                    }
                }
            }
        }
        .support {
            &-online {
                .img-hotline {
                    margin-bottom: 10px;
                    img {
                        width: 100%;
                    }
                }
            }
            &-info {
                &>div {
                    margin-bottom: 10px;
                    a {
                        color: #000;
                    }
                }
                .phone {
                    a {
                        color: var(--second-color);
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

.item-content-row {
    width: 100%;
    padding: 10px;
    margin: 0;
    margin-bottom: 10px;
    border: 1px solid #eee;
    .img {
        display: table-cell;
        width: 130px;
        vertical-align: top;
        a {
            display: block;
        }
        img {
            width: 100%;
        }
    }
    .content {
        display: table-cell;
        vertical-align: top;
        padding-left: 15px;
        color: #333;
        .name {
            margin: 0;
            margin-bottom: 8px;
            font-size: 18px;
            a {
                color: var(--primary-color);
                line-height: 20px;
                font-weight: bold;
            }
        }
    }
}

.news-title {
    h1 {
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 20px;
        margin-top: 10px;
    }
}

.text-contents {
    padding: 10px 10px;
    color: #333;
    .relative-contents {
        border-top: solid 1px #D8D7D7;
        h3 {
            margin: 0px;
            margin-top: 15px;
            margin-bottom: 15px;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 13px;
            &.title-to {
                font-size: 20px;
                a {
                    font-size: 18px;
                    color: var(--second-color);
                }
            }
        }
        a {
            font-size: 16px;
            text-transform: none;
            color: #333;
        }
        .item-relative {
            .info {
                h3 {
                    margin-top: 5px;
                    margin-bottom: 5px;
                }
            }
        }
    }
}

.tag_share {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #333;
    margin-top: 10px;
}

.like-share-page {
    position: relative;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 10px;
    .facebook {
        float: left;
        margin: 0 0 5px 5px;
    }
    .twitter {
        float: left;
        margin: 0 0 5px 5px;
    }
}

.item-relative {
    float: left;
    width: 100%;
    padding: 4px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    .img-relative {
        float: left;
        margin-right: 10px;
        max-width: 150px;
        @media(max-width: 480px) {
            max-width: inherit;
            float: none;
            width: 100%;
        }
    }
    .info {
        h3 {
            margin-top: 0;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 16px;
        }
    }
}