@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import 'base';
@import 'header';
@import 'main';
@import 'footer';
:root {
    --primary-color: #2a879e;
    --second-color: #f69524;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

img,
picture,
svg,
video {
    max-width: 100%;
}

input,
select,
textarea {
    background-color: transparent;
    outline: none;
}

button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Roboto Condensed', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

.ov-hidden {
    overflow: hidden;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
        transition: all .5s ease;
    }
}